.header {
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 5rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo,
.header_menu_icon {
  width: 3rem;
  height: 3rem;
  filter: invert(1);
}
