.header_links_container {
  width: 80%;

  @media (max-width: 700px) {
    display: none;
  }
}

.header_list_container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: beige;
}
